<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/static/x-admin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/font.css'}"/>
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/xadmin.css'}"/>
    
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/js/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/js/xadmin.js'}"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/lib/layui/layui.js'}" charset="utf-8"></script>
  </head>
  
  <body>
    <div class="x-body">
   	  <div class="layui-form-item">
	    <label class="layui-form-label">疾病名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off" th:value="${dietWithBLOBs.diseasename}" class="layui-input"/>
	    </div>
	  </div>
    </div>
  	  <div class="layui-form-item">
	    <label class="layui-form-label">数据来源</label>
	    <div class="layui-input-block">
	      <a target="_blank" th:text="${dietWithBLOBs.crowurl}" th:href="@{${dietWithBLOBs.crowurl}}"></a>
	    </div>
	  </div>
   	  <div class="layui-form-item">
	    <label class="layui-form-label">宜吃食物</label>
	    <div class="layui-input-block">
	      <textarea class="layui-textarea" autocomplete="off" th:text="${dietWithBLOBs.suitablefood}"></textarea>
	    </div>
	  </div>
   	  <div class="layui-form-item">
	    <label class="layui-form-label">忌吃食物</label>
	    <div class="layui-input-block">
	      <textarea class="layui-textarea" autocomplete="off" th:text="${dietWithBLOBs.unsuitablefood}"></textarea>
	    </div>
	  </div>
  </body>
</html>